doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title TOP
    //- https://minicss.org/docs
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css")

  body.l-site

    main.l-site-content
      div(style="max-width:1000px;margin:0 auto")
        h1 LP
        table
          thead
            tr
              th
                | タイトル
              th
                | ローカル
              th
                | テスト
              th
                | 本番
          tbody
            tr
              td
                | title
              td
                a(href="http://localhost:3000/hoge/hoge.html") http://localhost:3000/hoge/hoge.html
              td
                a(href="develop") develop
              td
                a(href="prod") prod
