// ==========================================================================
// Color
// ==========================================================================

// カラーパレット
$color-text: #333 !default;
$color-white: #fff !default;

// ==========================================================================
// Typography
// ==========================================================================

$base-font-size: 16px;
$base-line-height: 22px;

// ベースになるline-height
$global-line-height: 1.8 !default;

// システムフォント
$global-font-family-sans-serif: YakuHanJPs, "Hiragino Kaku Gothic ProN", Meiryo,
  sans-serif !default;
$global-font-family-serif: "Hiragino Mincho ProN", "HG明朝E", Meiryo, serif !default;
$global-font-family-monospace: Consolas, Menlo, Courier, monospace !default;

// ==========================================================================
// Break Point
// ==========================================================================
$breakpoint-mobile: 560px;
$breakpoint-pc: 960px;

// ==========================================================================
// Directory
// ==========================================================================
$commonImgDir: "/img/";

// ==========================================================================
// other
// ==========================================================================
$headerHeight: 80px;
