//- 画像ディレクトリ
- var commonImgDir = '/img/';

footer.c-footer
  div.inner フッターです
  <!--#include virtual="/footer.inc" -->

a.c-top-btn(href="#")
  img(src=`${commonImgDir}black-arrow-pointing-up.svg` alt="")
